---
interface Props {
  class?: string;
  type: "full" | "container" | "rounded";
  id?: string;
}

const { class: className, type = "container", id } = Astro.props;
---

<section
  id={id}
  data-section={id}
  class:list={[className, type, type === "container" && "pt-32"]}
>
  <slot />
</section>
<style>
  .bg-rounded {
    background: rgb(38, 38, 38);
    background: radial-gradient(
      circle,
      rgba(38, 38, 38, 1) 0%,
      rgba(13, 13, 13, 1) 100%
    );
  }
</style>
