---
import { factory } from "typescript";

interface Props {
  class?: string;
  type: "primary" | "secondary";
  subtitle?: boolean;
}

const { class: className, subtitle = false, type } = Astro.props;
---

<div class:list={[className, type, "font-semibold font-beVietnam lh-1"]}>
  <div class="tracking-[0.25em] mb-6">
    <slot name="title" />
  </div>

  {subtitle && <slot name="subtitle" />}

  <div class:list={[type === "primary" ? "f-biggest" : "f-biger"]}>
    <slot name="content" />
  </div>

  <slot />
</div>
