---
import { factory } from "typescript";

interface Props {
  class?: string;
  type?: "primary" | "secondary";
  subtitle?: boolean;
}

const { class: className, subtitle = false, type } = Astro.props;
---

<div class:list={[className, type, "lh-1"]}>
  <div class="tracking-[0.25em] mb-6 font-headerFont">
    <slot name="title" />
  </div>

  {subtitle && <slot name="subtitle" />}

  <div class="font-headerFont">
    <slot name="content" />
  </div>

  <slot />
</div>
