---
import Layout from "../layouts/Layout.astro";
import { CardProjects } from "../components/CardProjects";
---

<Layout title="Welcome to Astro.">
  <h2 class="font-audiowide">Portafolio</h2>
  <CardProjects />
</Layout>
