---
import { Icon } from "astro-icon/components";
import { LANGUAGES } from "../i18n/ui";
import {
  getRouteFromUrl,
  useTranslatedPath,
  getLangFromUrl,
} from "@/i18n/utils";

const route = getRouteFromUrl(Astro.url);
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

const currentLocaleData = LANGUAGES[lang];
const otherLocales = Object.values(LANGUAGES).filter(
  (locale) => locale.code !== lang,
);
---

<div class="flex items-center gap-x-2">
  <div class="text-primary">
    {currentLocaleData.name}
  </div>
  <ul>
    {
      otherLocales.map((locale) => (
        <li class="before:content-['|']">
          <a
            class=" text-secondary"
            href={translatePath(`/${route ? route : ""}`, locale.code)}
          >
            {locale.name}
          </a>
        </li>
      ))
    }
  </ul>
</div>
