@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NimbusSanL-Bol";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/NimbusSanL-Bol.woff2) format("woff2");
}
@font-face {
  font-family: "NimbusSanL-Reg";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/NimbusSanL-Reg.woff2) format("woff2");
}
@font-face {
  font-family: "Satoshi-Variable";
  src:
    url("../fonts/Satoshi-Variable.woff2") format("woff2"),
    url("../fonts/Satoshi-Variable.woff") format("woff");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}
@layer base {
  :root {
    --p: 56.73% 0.295 303.87;
    --n: 100% 0 0;
    --b1: 16.8416% 0 0;
    --b2: 20.9036% 0 0;
    --b3: 38.6654% 0 0;
    --bc: 58.9712% 0 0;
    --tw-text-opacity: 1;
    --tw-blur: blur(200px);
  }
  body {
    background-color: oklch(var(--b1) / 1);
    color: oklch(var(--n) / var(--tw-text-opacity));
  }
}
@layer utilities {
  .font-light {
    font-variation-settings: "wght" 300;
  }

  .font-regular {
    font-variation-settings: "wght" 400;
  }

  .font-medium {
    font-variation-settings: "wght" 500;
  }

  .font-bold {
    font-variation-settings: "wght" 700;
  }

  .font-black {
    font-variation-settings: "wght" 900;
  }

  .font-thin {
    font-variation-settings: "wght" 100;
  }
  .font-extralight {
    font-variation-settings: "wght" 200;
  }

  .font-normal {
    font-variation-settings: "wght" 400;
  }
  .font-medium {
    font-variation-settings: "wght" 500;
  }
  .font-semibold {
    font-variation-settings: "wght" 600;
  }
  .font-bold {
    font-variation-settings: "wght" 700;
  }
  .font-extrabold {
    font-variation-settings: "wght" 800;
  }
  .font-black {
    font-variation-settings: "wght" 900;
  }
}

:root {
  /* line heights */
  --lh-1: 1;
  --lh-1-1: 1.1;
  --lh-1-4: 1.4;

  /* content sizes */
  --content-xs: 20ch;
  --content-sm: 30ch;
  --content-md: 45ch;
  --content-lg: 65ch;
}

.section-heading {
  font-size: clamp(3.5rem, 2.3571rem + 4.5143vi, 10.5rem);
  font-weight: 700;
  text-transform: uppercase;
  transition-property: all;
  transition-duration: 0.5s;
}
.lh-1 {
  line-height: var(--lh-1);
}

.container {
  width: 100%;
  max-width: 1024px;
  margin-inline: auto;
}
.full {
  width: 100%;
  margin-inline: auto;
}
.ctBase {
  max-width: 1024px;
  margin-inline: auto;
}
