@font-face {
  font-family: "NimbusSanL-Bol";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/NimbusSanL-Bol.woff2) format("woff2");
}
@font-face {
  font-family: "NimbusSanL-Reg";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/NimbusSanL-Reg.woff2) format("woff2");
}
:root {
  /* line heights */
  --lh-1: 1;
  --lh-1-1: 1.1;
  --lh-1-4: 1.4;

  /* content sizes */
  --content-xs: 20ch;
  --content-sm: 30ch;
  --content-md: 45ch;
  --content-lg: 65ch;
}

.section-heading {
  font-size: clamp(3.5rem, 2.3571rem + 4.5143vi, 10.5rem);
  font-weight: 700;
  text-transform: uppercase;
  transition-property: all;
  transition-duration: 0.5s;
}
.lh-1 {
  line-height: var(--lh-1);
}

.container {
  width: 100%;
  max-width: 1024px;
  margin-inline: auto;
}
.full {
  width: 100%;
  margin-inline: auto;
}
.ctBase {
  max-width: 1024px;
  margin-inline: auto;
}
